.row {
  color: #fff;
  margin-left: 20px;
}

.row__posters {
  position: relative;
  display: flex;
  overflow-x: scroll;
  transition: transform 250ms;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters:hover .row__poster {
  transform: translateX(-5%);
}

.row__keySlider {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  font-weight: 700;
}

.row__keySlider--left {
  left: 0 !important;
}

.row__keySlider--right {
  right: 0;
}

.row__poster:hover ~ .row__poster {
  transform: translateX(5%);
}

.row__postersContainer {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.row__postersContainer::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-height: 180px;
  object-fit: contain;
  margin-right: 10px;
  width: 100%;
  cursor: pointer;
  filter: brightness(0.8);
  transition: transform 420ms;
}

.row__poster:hover {
  filter: brightness(1);
  transform: scale(1.1) !important;
  opacity: 1;
}

.row__posterLarge {
  max-height: 300px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
