.app {
  background-color: #111;
  min-height: 100vh;
}

.button {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button--primary {
  background: rgb(212, 44, 44);
  background: linear-gradient(
    90deg,
    rgba(212, 44, 44, 1) 0%,
    rgba(125, 4, 4, 1) 100%
  );
  color: #fff;
}

.button--primary:hover {
  filter: brightness(0.9);
}

.button--selected {
  background: rgb(172, 166, 30);
  background: linear-gradient(
    90deg,
    rgba(172, 166, 30, 1) 0%,
    rgba(255, 222, 0, 1) 100%
  );
  color: #000;
}

.button--disabled {
}
