.app {
  background-color: #111;
  min-height: 100vh;
}

.button {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.button--primary {
  background-color: #e50914;
  color: #fff;
}
